<?php

namespace AutozNetwork\Tests;

class AutozNetworkTestCredentials {

  /**
   * These must be filled out with valid AutozNetwork app details for the tests to
   * run.
   */
  public static $appId = '';
  public static $appSecret = '';

}
